.detalle-producto-container{
    width: calc(100% - 30px);
    max-height: 1400px;
    padding: 10px;
    margin: 15px;
    background-color: burlywood;

}

.detalle-producto-main{
    width: 100%;
    display: flex;
    gap: 15px;
}

.detalle-producto-imagen{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; 
    background-color: rgb(43, 182, 64);
}

.detalle-producto-imagen-miniatura{
    width: 300px;
    display: flex;
    gap: 10px;
}

.imagen-principal-wrapper{
    flex: 3;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


.detalle-producto-informacion{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px; 
    background-color: rgb(92, 43, 182);
}